.introduce {
    width: 100%;

    font-size: 2rem;
    font-weight: bold;
}

.auto_typed {
    color: rgb(135, 80, 150);
}

.div_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 400px;
}

.about {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &_greetings {
        height: 170px;
        font-weight: bold;
    }

    &_text {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: normal;
    }

    &_resume {
        margin-top: 20px;

        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;

        border-bottom: 3px solid transparent;   
        transition: all .3s ease 0s;
    }

    &_resume:hover {
        border-bottom: 3px solid #254b45;
    }


}

@media (min-width: 450px) {
    .about_greetings {
        height: auto;
    }
}
