.portfolio {
    width: 100%;
    height: 100%;
    text-align: center;

    &_wrapper {
        padding-bottom: 50px;
    }

    &_title {
        margin: 50px 0;
        font-weight: bold;
        font-size: 2.5rem;
    }
}

.label {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    font-size: 1.1rem;

    &_name {
        margin-bottom: 40px;

        font-size: 1.8rem;
    }
}

.text {
    font-size: 1rem;
}

.picture img {
    position: relative;
}

.image-slider__text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;

    color: #254b45;
    background: linear-gradient(to bottom, rgba(234, 254, 247, 0.7) 55%, rgba(135, 80, 150, 1));

    transition: all .5s;
    overflow: hidden;
}

@media (min-width: 590px) {
    .portfolio {
        padding: 0 20px;

        &_wrapper {
            padding-bottom: 80px;
        }
    }

    .label {
        padding: 0;
    }
}
