@import "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background:rgba(234, 254, 247, 0.7);
    color:#254b45;

    &.lock {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: #254b45;
}

li {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(auto, 70px) 1fr auto / 1fr;
    overflow: hidden;
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 37px;

    background: {
        image: url("@img/img.jpg");
        size: cover;
        position: 50% 20%;
        repeat: no-repeat;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: {
            image: url("@img/splash2.jpg");
            size: cover;
            position: center;
            repeat: no-repeat;
        }
        mix-blend-mode: screen;

        border-radius: 35px;
    }
}

@import "header";
@import "main";
@import "about";
@import "portfolio";
@import "swiper";
@import "../../node_modules/swiper/swiper-bundle";
@import "arrowToTop";
@import "footer";