.image-slider {
    padding: 30px 0 70px 0;
    margin-top: 20px;
}

.image-slider__image {
    text-align: center;

    height: 400px;
}

.image-slider__image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.image-slider .swiper-button-prev,
.image-slider .swiper-button-next {
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color:rgb(135, 80, 150);
    font-size: 30px;
    font-weight: bold;
}

.image-slider .swiper-button-prev:hover,
.image-slider .swiper-button-next:hover {
    border-radius: 50%;
    background-color: rgba(135, 80, 150, .15);
}

.image-slider .swiper-pagination {
    bottom: 0;
}

.image-slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    line-height: 20px;
    font-size: 14px;
    background-color: rgb(135, 80, 150);
}

@media (min-width: 458px) {

    .image-slider .swiper-button-prev,
    .image-slider .swiper-button-next {
        padding-top: 5px;
        width: 50px;
        height: 50px;
    }

    .image-slider .swiper-button-prev::after,
    .image-slider .swiper-button-next::after {
        font-size: 40px;
    }
}